/node_modules
/templates/ts-template/node_modules
/templates/ts-template/dist/
/templates/ts-template/*.log
/templates/ts-template/npm-debug.log*
/templates/ts-template/yarn-debug.log*
/templates/ts-template/yarn-error.log*
/templates/ts-template/lerna-debug.log*
/templates/ts-template/package-lock.json
/templates/ts-template/yarn.lock
/templates/ts-template/.pnpm-debug.log*
/templates/ts-template/*.tsbuildinfo
/templates/ts-template/*.js.map
/.idea
/.vscode
